@model WMSMVC.Application.ViewModels.Client.ClientDetailVM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>For @Model.ClientId</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NIP)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NIP)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AdressesCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AdressesCount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContactsCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContactsCount)
        </dd>
        <dt></dt>
        <dd>
            <a asp-action="ContactsDetails">Contacts Details</a>
        </dd>
        <dd></dd>
        <dd>
            <a asp-action="AddressDetails">Adressess Details</a>
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
